.vir-fade-in.ng-enter, .vir-fade-in.ng-move, .vir-fade-in.ng-leave {
	-webkit-transition:all linear 1.0s;
	-moz-transition:all linear 1.0s;
	-o-transition:all linear 1.0s;
	transition:all linear 1.0s;
	opacity: 0;
}

.vir-fade-in.ng-enter.ng-enter-active, .vir-fade-in.ng-move.ng-move-active {
	opacity: 1;
}

.vir-fade-in.ng-leave {
	-webkit-transition:all linear 1.0s;
	-moz-transition:all linear 1.0s;
	-o-transition:all linear 1.0s;
	transition:all linear 1.0s;
	opacity: 1;
}

.vir-fade-in.ng-leave-active {
	opacity: 0;
}

.vir-fade-in.ng-hide-add, .vir-fade-in.ng-hide-remove {
	-webkit-transition:all linear 0.5s;
	-moz-transition:all linear 0.5s;
	-o-transition:all linear 0.5s;
	transition:all linear 0.5s;
	display:block!important;
}

.vir-fade-in.ng-hide-add.ng-hide-add-active,
.vir-fade-in.ng-hide-remove {
 	opacity:0;
}

.vir-fade-in.ng-hide-add,
.vir-fade-in.ng-hide-remove.ng-hide-remove-active {
 	opacity:0.8;
}

.fixed-middle {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 1400px;
	height: 800px;
}

.seethru {
	background-color: grey;
	opacity: 0.8;
}

.healthy-add, .healthy-remove,
.well-add, .well-remove,
.sick-add, .sick-remove,
.coma-add, .coma-remove,
.dead-add, .dead-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.healthy,
.healthy-add.healthy-add-active {
	fill: #1f9f22
}

.well,
.well-add.well-add-active {
	fill: #69b622
}

.sick,
.sick-add.sick-add-active {
	fill: #cbce25
}

.coma,
.coma-add.coma-add-active {
	fill: #e58828
}

.dead,
.dead-add.dead-add-active {
	fill: #fc2b2b
}
